
<div class="padre"> 
    <div class="form-new">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Estilo musical</th>
                </tr>
            </thead>
            <tbody>
                <td><%=@group.id%></td>
                <td><%=@group.name%></td>
                <td><%=@group.musical_style%></td>
            </tbody>
        </table>
    </div>

    
</div>

<%=link_to "Volver atrás",groups_path, class:"btn btn-outline-dark create-button"%>




